.error-alert {
    position: absolute;
    top: -40px; /* Initially set the top position above the viewport */
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 28.5rem;
    width: 90%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    height: 40px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: top 0.5s ease; /* Add transition for smooth slide down effect */
  }
  
  .alert-dismissible .btn-close {
    padding: 1rem;
    position: absolute;
    top: -0.4rem;
  }
  
  .error-alert.show {
    top: 5rem; /* Adjust the top position when the alert is visible */
  }
  
